<footer class="footer mt-4">
    <div class="container">
        <p>Control Panel</p>
        <p><a href="#" id="clear">Clear Table</a> | <a href="/api/tables">API Table Link</a> | <a
                href="/api/waitlist">API
                Wait List</a>
    </div>
</footer>

</div>

</body>


<!-- BELOW CODE IS CRITICAL. IT HANDLES HOW FORM DATA IS LOADED FROM OUR SERVER -->


</html>